.options{

    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    
    position: fixed;
    top: 45%;
    padding-top: 5;
}

.sites{
    margin-bottom: 2rem;

}