<td>
  <button (click)="onToggle()" class="border-0 bg-transparent" >
    <fa-icon
    [ngStyle]="{'color':'white'}"
      [icon]="contest.saved  ? faSaved : faNotSaved"
    ></fa-icon>
  </button>
</td>
<td>
  <a href="{{ contest.url }}" class="text-decoration-none">{{ contest.name }}</a>
</td>
<td>{{ contest.start_time | date : "shortDate" }}</td>
<td>{{ contest.end_time | date : "shortDate" }}</td>
<td>{{ contest.duration | formatTime }}</td>
<td>{{ contest.site.replace('_',' ') | titlecase }}</td>
